.about-kitt {
    text-align: center;
}

.about-kitt h1 {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-kitt div {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

.about-kitt img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

.about-kitt p {
    color: #555;
    font-size: 18px;
    padding: 0 10px;
}