.logo {
    display: inline-block;
    padding: 4px 8px;
}

.logo img {
    height: 48px;
    width: 48px;
    float: left;
}

.logo span {
    line-height: 48px;
    font-family: "showcard gothic";
    font-size: 22px;
}